<h3>I AM HEADER</h3>
<p>and we should all think about that for a second.</p>
<!--%% use_as(:outside, :partial) -->
<div>this is some honkey business!</div>
<p>
  <!--%% use_as(:main, :content, :for => "partials") -->
  this is some major honkey business....
  <!--%% end(:main, :content, :for => "partials") -->
</p>
<!--%% end(:outside, :partial) -->

<!--%% use_as(:main, :section) -->
  <!--%% use_as(:list, :partial, :for => "partials") -->
  <ul>
    <li> first </li>
    <li> second </li>
    <li> third </li>
  </ul>
  <!--%% end(:list, :partial, :for => "partials") -->
  <p>
  <!--%% use_as(:main, :content) -->
  this is the first day of the first day of the first day of the rest of your life
  <!--%% end(:main, :content) -->
  </p>
<!--%% end(:main, :section) -->

<h3>I AM FOOTER</h3>


