<h3>I AM HEADER</h3>
<p>and we should all think about that for a second.</p>
<!--%% use_as(:outside, :partial) -->
<div>this is some serious business!</div>
<p>
  <!--%% use_as(:main, :content, :for => "partials") -->
  this content can be managed! isn't that exciting? printed
  in a partial's content file, should be overwritten by same-named
  partial content files located at particular page levels
  <!--%% end(:main, :content, :for => "partials") -->
</p>
<!--%% end(:outside, :partial) -->

<!--%% use_as(:main, :section) -->
  <!--%% use_as(:list, :partial, :for => "partials") -->
  <ul>
    <li> first </li>
    <li> second </li>
    <li> third </li>
  </ul>
  <!--%% end(:list, :partial, :for => "partials") -->
  <p>
  <!--%% use_as(:main, :content) -->
    this is the main content
  <!--%% end(:main, :content) -->
  </p>
<!--%% end(:main, :section) -->

<h3>I AM FOOTER</h3>


